<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.alexreniuc.ro">
    <meta property="og:image" content="http://www.alexreniuc.ro/img/4298df58.logo.png">
    <meta property="og:site_name" content="Hreniuc Alexandru, photographer Timisoara">
    <meta property="fb:app_id" content="266780870023235">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
      Hreniuc Alexandru, photographer Timisoara
    </title>
    <meta name="description" content="Professional photographer based in Timisoara, Romania. Specialized in weddings,Sports, portrait and advertising.">
    <meta name="viewport" content="height=device-height">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="styles/f2c969e8.main.css"/>
    <link href="http://fonts.googleapis.com/css?family=Questrial&amp;subset=latin" rel="stylesheet" type="text/css">
  </head>
  <body ng-app="angularFlickrApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="menu" ng-controller="GallerylistCtrl">
      <a href="/"><h1>Hreniuc Alexandru, photographer from Timisoara</h1></a>
      <ul id="nav">
        <li><a href="" ng-click="about=!about" id="aboutme">About me</a>
          <div ng-show="about==true">
            <!-- Text About ME -  EDITEAZA DE AICI!!! -->

            <p>I`m Alex Hreniuc, photographer and I love taking pictures,traveling and meeting new people.In 2011 and 2012 I was named the best wedding photographer in Romania by AAFR.</p>
            <strong>Photo awards</strong>:
            <ul>
              <li>- the gold medal on weddings 2011
              </li>              
              <li>- the gold medal on weddings 2012
              </li>
              <li>- the bronze medal on Sports 2011
              </li>
              <li>- 1st place on Sport in Photo Magazine 2010
              </li>
              <li>- 2nd place on Portrait in Photo Magazine 2011
              </li>
            </ul>

           <p></p>

           <!-- Pana aici -->
           </div>
        </li>
        <li><a href="https://www.facebook.com/fotohreniuc">Facebook page</a></li>
        <li><a href="http://www.alexhreniuc.ro/blog/">Blog</a></li>
        <li><a href="" ng-click="contact=!contact" id="contact">Contact me</a>
          <div ng-show="contact==true">
          <p>Tel : <strong>+4 0744 586 226</strong> <br>Email: <strong>contact@alexhreniuc.ro</strong></p>
          <form name="contactForm" ng-controller="ContactformCtrl" ng-submit="submit()" id="JqPostForm">
            <input type="text" required ng-model="formData.name" name="name" value="" id="name" placeholder="Name"><br>
            <input type="email" required ng-model="formData.from" name="from" value="" id="email" placeholder="Email"><br>
            <textarea ng-model="formData.content" name="content" rows="2" type="text" value="" id="content"></textarea>

            <input type="hidden" ng-init="formData.to=&apos;contact@alexhreniuc.ro&apos;" name="to" value="contact@alexhreniuc.ro" id="to">
            <input type="hidden" ng-init="formData.subject=&apos;Email trimis de pe site&apos;" name="subject" value="Email trimis de pe site" id="subject">
            <input type="submit" name="submit" value="Trimite" id="submit">

          </form>
          </div>
        </li>
      </ul>

      <div id="collections">
        <ul class="list-unstyled" ng-repeat="collection in collections.collection">
          <li>
            <h4> {{collection.title}}</h4>
            <ul ng-repeat="set in collection.set">
                <li>
                  <a href="#/{{set.title}}/{{set.id}}" ng-class="{&apos;active&apos;:isCurrentGallery(set.id)}"> <span>&raquo;</span> {{set.title}}</a>
                </li>
            </ul>
          </li>
        </ul>

      </div>

    </div>
    <!-- Add your site or application content here -->
    <div id="gallery" ng-view="">
      
    </div>

    <!-- Facebook -->
    <div class="fb-like" data-href="https://www.facebook.com/fotohreniuc" data-send="false" data-layout="box_count" data-width="55" data-show-faces="false" data-font="lucida grande"></div>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=266780870023235";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- Pinterest -->
    <script type="text/javascript">
    (function(d){
        var f = d.getElementsByTagName('SCRIPT')[0], p = d.createElement('SCRIPT');
        p.type = 'text/javascript';
        p.async = true;
        p.src = '//assets.pinterest.com/js/pinit.js';
        f.parentNode.insertBefore(p, f);
    }(document));
    </script>
    
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <script src="scripts/2d53cd22.vendor.js"></script>

        <script src="scripts/bf8f5319.scripts.js"></script>


<!-- Begin Templates -->
<script type="text/ng-template" id="views/main.html">
<table>
	<tbody>
	  <tr>
	    <td class="image" ng-repeat="photo in photoset.photo">
		    <img class="picture" ng-src="{{photo.url_l || photo.url_z}}" alt="{{photo.title}}" style="height:{{windowHeight - 100}}px;"/>
		    <h4>{{photo.title}}</h4>
		    <a  class="share_button" href="" ng-click="sharePictureFacebook(photo.url_l,photo.title)">
				<img src="images/a2c8bda4.facebook-like.jpg" >
		    </a>
		    <a class="share_button" href="" ng-click="sharePicturePinterest(photo.url_l,photo.title)" data-pin-do="buttonPin" data-pin-config="none" data-pin-color="red" data-pin-height="28">
		    	<img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" />
		    </a>
	    </td>
	  </tr>
	</tbody>
</table>

</script>
<!-- End Templates -->

</body>
</html>
